<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>About</title>
    <style>
        body {
            background: linear-gradient(to right, rgb(244, 204, 210), rgb(244, 240, 240));
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <center>
        <h1>Welcome to the about page</h1>
        <br>
        <h3>
            Hi I am Yash Solanki a 13 year old programmer
            I love to program especially in Python. I mainly like to make
            neural networks and also make some games for fun. As you know that this
            website is made using Flask A micro web-framework which is very popular.
        </h3>
        <br><br>
        <h3>
            I am also the founder of the Youtube Channel <b>Coding made Easy</b>.
            Where I will teach you the different areas of python programming.
            With special attention to ML and AI.
        </h3>
        <br><br>
        <h4>
            <a href='https://www.youtube.com/channel/UCRFZo_H-tmNCplQSL6YeKXg'>
                <b>Click This link to check out my Channel!</b>
            </a>
        </h4>
    </center>
</body>

</html>