<html>
    <head>
        <title>Neural Network Page</title>
        <style>
            body {
                background: linear-gradient(to right, rgb(244, 204, 210), rgb(244, 240, 240)); 
                font-family: sans-serif; 
            }
        </style>
        <body>
            <center>
                <h1>
                    This Webpage will show you the basics of image
                    classification in neural networking. 
                </h1>
                <br><br>
                <h2>
                    The most common types of neural networks are called 
                    fully connected neural networks. These are made up of three 
                    different layers. The first layer or the input layer, 
                    the second layer or the hidden layer and the third layer 
                    or the output layer. The image below shows a fully connected neural 
                    network. 
                    <br>
                    <img src='https://upload.wikimedia.org/wikipedia/commons/4/46/Colored_neural_network.svg'>
                    <br><br>
                    <h2>
                        However this type of a neural network is not good for 
                        finding out patterns in images for such a case another type of
                        a neural network called a <b>Convulutionary Neural Network</b> or <b>CNN</b> 
                        is used.
                    </h2>
                    <br>
                    <h2>
                        However you can only use a CNN if the image 
                        is a four dimensional image. Because otherwise you will get 
                        an error. You can easily use the python module numpy to 
                        reshape your images. But images do not have a fourth dimension 
                        so in place of the fourth dimension you have to add one.
                    </h2>
                </h2>
            </center>
        </body>
    </head>
</html>